.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  max-width: 100vw;
  backdrop-filter: blur(14px);
  will-change: backdrop-filter;
  z-index: var(--z-index-main-layer);
  transition: 0.2s;
}

.container {
  max-width: var(--layout-container-max);
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
}

.content {
  transition: padding 0.2s;
  margin: 0;
  padding: 12px var(--layout-page-padding);
}

.title {
  margin: 8px 0;
}
