.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  gap: var(--space-2);
  padding: 12px 0;
  margin: -12px 0;
}

.label {
  font-size: var(--text-sm);
  color: var(--color-text-muted);
  text-transform: uppercase;
  margin-bottom: var(--space-4);
}
